body {
  background-color: #0a0d36;
  color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Arial";
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.slider {
  font-size: 1em;
  font-weight: 700;
  display: grid;
  grid-template-columns: 150px auto auto;
  align-items: center;
  padding: 4px;
}

.sliderDisplay {
  font-weight: 1000;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 15%;
  width: 45px;
  height: 30px;
}